<div *ngIf="(company | async)">
	<h1>
		<span>{{(company | async)?.symbol}}</span>
		<span>
			<a [attr.href]="(company | async)?.website">{{(company | async)?.companyName}}</a>
		</span>
	</h1>
	<h2>
		<span>{{(company | async)?.exchange}}</span>
		<span>{{issueTypeToReadable((company | async)?.issueType)}}</span>
	</h2>
	<h3>
		<span>{{(company | async)?.industry}}</span>
		<span>{{(company | async)?.sector}}</span>
	</h3>
	<p>
		<span>{{(company | async)?.CEO}}</span>
		<span>{{(company | async)?.description}}</span>
	</p>
</div>
