/* You can add global styles to this file, and also import other style files */

@import "reset.less";
@import "fonts.less";
@import "variables.less";

body {
	background-color: @background-color;
	color: @border-color;
	font-family: monospace;
}
